vti_encoding:SR|utf8-nl
vti_author:SR|V-W2\\vytee DevWorkstation
vti_modifiedby:SR|vyteedesarrollo\\vytee desarrollo
vti_timelastmodified:TR|08 Oct 2012 18:36:44 -0000
vti_timecreated:TR|20 May 2012 01:56:05 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|nosotros.html contacto.html ofertas.html gestion-contacto.html agregar-nuevo-producto-catalogo.html gestion-ofertas.html modificar-oferta.html orden-de-compra.html orden-de-compra-enviada.html default.dwt materiales.html catalogo.html agregar-nueva-oferta.html gestion-catalogo.html index.html login.html dashboard.html modificar-producto-catalogo.html
vti_nexttolasttimemodified:TW|08 Oct 2012 18:27:45 -0000
vti_cacheddtm:TX|08 Oct 2012 18:36:44 -0000
vti_filesize:IR|14663
vti_cachedlinkinfo:VX|S|../img/upHeaderBG4.png S|../img/imagenesAlgodonDesat.png S|../img/imagenesAlpaca.png
vti_cachedsvcrellinks:VX|FSUS|recursos/img/upHeaderBG4.png FSUS|recursos/img/imagenesAlgodonDesat.png FSUS|recursos/img/imagenesAlpaca.png
